@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

* {
}

body{
    display: grid;
    grid-template-rows: 6rem minmax(0,1fr) 6rem;
    height: 100vh;
    margin:0;
    font-family: 'Adamina', serif;
}


/* navigation*/

header{
    background-color: #18020C;
    color: white;
}

.active {
    background: repeating-linear-gradient(-45deg,#AD5D4E,#AD5D4E 3px, transparent 3px, transparent 20px);
}

li{
    display: inline-block;
    list-style-type: none;
    padding: 1rem;
    font-size: 1.5rem;
}

/* content modules*/

.content{
    height: 100%;
    width: 100vw;
    overflow-y: scroll;
}

.menu{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.menuItem {
    text-align: center;
    margin: 10rem;
    width: 100%;
    max-width: 20rem;
}

#toTop{
    position: absolute;
    bottom: 8rem;
    right: 2rem;
}

.home{
    background-image: url(unsp.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    filter: saturate(0.5);
}

.info{
    display: flex;
    margin: 2rem;
    padding: 2rem;
    background-color: rgba(255,255,255,0.8);
    height: 100%;

}

footer {
    background-color: #18020C;
}